.table {
    border: 1px solid #ccc;
}

.table tr {
    border: 1px solid #ccc;
}

.table tr td {
    border: 1px solid #ccc;
}

.cell {
    background: #eee;
    color: #333;
}

.selected-cell {
    background: #666;
    color: #fff;
}
